<% include partials/header %>

<div class="container">
  <header class="jumbotron">
      <h1>Welcome to YelpCamp !</h1>
      <p>View our hand-picked campgrounds from all over the world</p>
      <% if(typeof user != 'undefined'){ %>
          <p><a class="btn btn-primary btn-sm" href="#" data-toggle="modal" data-target="#modal-create-campground">add a new campground</a></p>
      <% } %>
  </header>

<h3 class="text-center" style="margin-bottom: 1rem;">Our Most Popular Campgrouds</h3>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
      <% campgrounds.forEach((campground) => { %>
        <div class="col-md-3 col-sm-6">
            <div class="card" style="height: 100%;">
                <a href="/campgrounds/<%= campground._id %>"><img class="card-img-top img-thumbnail img-fluid" src="<%= campground.image %>" alt=""></a>
                <div class="card-body">
                    <h5 class="card-title"><%= campground.name %></h5>
<!--                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
<!--                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
      <% }); %>
    </div>
</div>
<% include partials/footer %>
