<!DOCTYPE html>
<html lang="en">
    <head>
        <title>YelpCamp | Landing Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/bootstrap-4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/landing.css">

        <script src="https://kit.fontawesome.com/db148ba7a4.js" crossorigin="anonymous"></script>
    </head>
    <body>
    <div id="landing-header">
 		<h1>Welcome to YelpCamp!</h1>
		<a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>
